@import 'sources/styles/mixins.scss';

.footer {
  background: var(--footer-background);
  @include flex(center, space-between);
  @include text-style(14px, 400, 21px, $color: var(--textColor));
  @include container-paddings;
  @include width-height(100%, 172px);

  @include laptop {
    @include width-height(100%, 198px);
    @include flex-direction(column);
    @include flex(center, center);
  }

  .leftContainer {
    text-align: left;

    @include laptop {
      text-align: center;
    }
  }

  .rightContainer {
    text-align: right;

    @include laptop {
      text-align: center;
    }
  }
}