@import 'sources/styles/mixins.scss';

.footer {
  background: var(--footer-background);
  @include flex(center, space-between);
  @include text-style(14px, 400, 21px, $color: var(--textColor));
  @include container-paddings;
  @include width-height(100%, 172px);


  .leftContainer {
    text-align: left;
  }

  .rightContainer {
    text-align: right;
  }
}