@import 'sources/styles/mixins.scss';

.button {
  z-index: 10;
  background: #F1F1F1;
  border: none;
  border-radius: 65px;
  padding: 15px 35px;
  text-align: center;
  height: 54px;
  @include text-style(16px, 700, 24px, $color: #151515);

  &:hover {
    cursor: pointer;
    background: #c2bebe;
  }
}