@import 'sources/styles/mixins.scss';

.wrapper {
  z-index: -10;
  min-height: 100%;
  @include flex;
  @include flex-direction(column);
  box-sizing: content-box;
  width: 100%;

/*   @include wideDesktop {
/*     max-width: 100%;

 */ 
/*     width: 100%; }

  @include desktop {
    max-width: 100%;
    width: 100%;
  }  */
  @include laptop {
    max-width: 992px;
  }

  .container {
    margin: 0 auto;
    position: relative;
    background-color: #222222;
    overflow: hidden;
    max-width: 1440px;


    @include wideDesktop {
      max-width: 1920px;
      @include adaptive-value('max-width', 1920px, 1440px, 1);
    }

    @include desktop {
      max-width: 1440px;
    }

    .page {
      flex: 1 1 auto;
    }
  }

}
