@import 'sources/styles/mixins.scss';

.description {
  
  position: relative;
  padding: 250px 0 120px 0;
  @include container-paddings;

  .gradient {
    @include position-absolute($bottom: 0, $left: 0);
    @include z-index-background;
    opacity: 0.5;
  }

  .gradient2 {
    @include position-absolute($bottom: 0, $right: 0);
    @include z-index-background;
    opacity: 0.5;
  }

  .gradient3 {
    @include position-absolute($bottom: 0, $right: 0);
    @include z-index-background;
    opacity: 0.5;
  }


  .title {
    @include z-index-components;
    position: relative;
    @include title-style($colorR: #FFFFFF);
    margin-bottom: 60px;
    color: var(--text-color);

    @include desktop {
      display: block;
      max-width: 80%;
    }
  }

  .imagesContainer {
    @include flex(flex-start, space-between);
    max-width: 100%;
    @include wideDesktop { 
      @include flex(flex-start,  space-around);
    }
  }

  .bigImg {
    @include wideDesktop { 
      margin-right: 40px;
    }
    z-index: 1;
    position: relative;
  }
}

.thread {
  @include position-absolute($right:0, $bottom: 0);
  @include z-index-background;
}
