@import 'sources/styles/mixins.scss';

.mobileApp {
  @include container-paddings;
  @include flex;
  position: relative;
  margin-bottom: 0 !important;

  @include mini-tablets {
    @include flex-direction(column);
    align-items: center;
  }

  .thread {
    @include position-absolute($bottom: 383px, $right: 0);
    z-index: 0;

    @include wideDesktop {
      @include position-absolute($bottom: 383px, $right: -100px);
    }

    @include laptop {
      @include position-absolute($bottom: -0px, $right: 0px);
    }

    @include mini-tablets {
      @include position-absolute($bottom: -400px, $right: 100px);
      transform: rotate(20deg) scale(-1, 1) scale(1.3);
    }
  }

  .gradient {
    @include position-absolute($bottom: 0px, $right: 0);

    @include laptop {
      display: none;
    }
  }

  .gradient2 {
    @include position-absolute($bottom: 0px, $left: 0);

    @include laptop {
      @include position-absolute($bottom: 0px, $left: 0);
      height: 700px;
    }
  }

  .description {
    position: relative;
    margin-right: 75px;

    @include wideDesktop {
      margin-right: 300px;
    }

    @include laptop {
      margin-right: 100px;
    }

    @include tablets {
      margin-right: 35px;
    }

    @include mini-tablets {
      margin-right: 0px;
      @include flex(center);
      @include flex-direction(column);
    }

    @include z-index-components;

    .icon {

      &:first-child {
        margin-right: 20px;

        @include wideDesktop {
          margin-right: 50px;
        }

        @include mini-tablets {
          justify-self: center;
          margin-right: 0px;
          width: 130px;
          margin-bottom: 30px;
        }
      }

      &:last-child {
        @include laptop {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
      }

    }

    .title {
      @include title-style;
      max-width: 514px;
      margin: 110px 0 40px 0;

      @include laptop {
        margin: 10px 0 20px 0;
        color: #FF4C0D;
      }

      @include tablets {
        margin-right: 80px;
        width: 100%;

      }

      @include wideDesktop {
        max-width: 100%;
      }

      @include mini-tablets {
        margin-right: 0px;
        width: 100%;
      }
    }

    .text {
      width: 320px;
      margin-bottom: 60px;

      @include tablets {
        width: 270px;
        margin-bottom: 40px;
      }

      @include mini-tablets {
        @include text-style(12px, 400, 20px, $color: var(--textColor));
        width: 100%;
        margin-bottom: 30px;
      }

      font-weight: normal;
      color: var(--textColor);

      letter-spacing: -0.01em;

      @include wideDesktop {
        max-width: 550px;
      }
    }
  }

  .phone {
    position: relative;
    @include z-index-components;
  }
}
