@import 'sources/styles/mixins.scss';


.mobileApp {
  @include container-paddings;
  @include flex;
  position: relative;
  margin-bottom: 0 !important;
/* 
  @include _620 {
    flex-direction: column;
  } */
  .thread { 
    @include position-absolute($bottom: 383px, $right: 0);
    z-index: 5;
/*     @include z-index-components; */
  }

  .gradient { 
    @include position-absolute($bottom: 0px, $right: 0);
  }
  .gradient2 { 
    @include position-absolute($bottom: 0px, $left: 0);
  }

  .description {
    
    position: relative;
    margin-right: 75px;
    @include z-index-components;

    .icon { 
      margin-right: 20px;
    }

    .title {
    @include title-style;
    max-width: 514px;
    margin: 110px 0 40px 0;

/*       @include _769 {
        font-size: 30px;
      }

      @include _620 {
        margin: 20px 0;
        font-size: 25px;
      }  */
    }

    .text {
/*       @include defaultText;
 */   max-width: 320px;
      font-weight: normal;
      color: var(--text-color);
      margin: 0 0 60px 0;
/* 
      @include _620 {
        font-size: 12px;
        margin-bottom: 40px;
      }  */
    }

    .stores {
      display: flex;
      list-style: none;
      padding-left: 0;
      max-width: 278px;
      justify-content: space-between;
      cursor: pointer;

/*       @include _620 {
        justify-content: space-around;
        max-width: inherit;
      } */
    }
  }

  .phone {
    position: relative;
    @include z-index-components;
/* 
    @include _820 {
      margin-left: 20px;
    }

    @include _769 {
      background-image: url('../../../../sources/images/mobile-phone.png');
    }

    @include _620 {
      margin: 0 auto;
      width: 220px;
      height: 430px;
    } */
  }
}

.topEllipse {
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
}