@import 'sources/styles/mixins.scss';

.designBlock {
  margin-bottom: 120px;
  @include container-paddings;
  @include z-index-components;
  position: relative;

  .title {
    @include title-style($colorR: var(--introText));
    margin-bottom: 60px;
    width: 65%;

    @include wideDesktop {
      width: 100%;
    }
  }

  .thread {
    z-index: -1;
    @include position-absolute($bottom: -910px, $left: 0px);

    @include wideDesktop {
      @include position-absolute($bottom: -910px, $left: 6px);
    }
  }

  .gradient {
    @include position-absolute($bottom: -450px, $left: 0);
    z-index: -1;
  }

  .imageCardContainer {
    @include flex(flex-start, space-between);
    @include z-index-components;
    max-width: 100%;

    @include wideDesktop {
      @include flex(flex-start, space-around);
    }
  }
  }