@import 'sources/styles/mixins.scss';

.designBlock {
  margin-bottom: 120px;
  @include container-paddings;
  @include z-index-components;
  position: relative;

  @include laptop { 
    margin-bottom: 80px;
  }

  .title {
    @include title-style($colorR: var(--introText));
    margin-bottom: 60px;
    width: 65%;

    @include wideDesktop {
      width: 100%;
    }
    @include laptop {
      margin-bottom: 30px;
    }
  }

  .thread {
    z-index: -1;
    @include position-absolute($bottom: -910px, $left: 0px);

    @include wideDesktop {
      @include position-absolute($bottom: -910px, $left: 6px);
    }
  }

  .gradient {
    @include position-absolute($bottom: -450px, $left: 0);
    z-index: -1;

    @include laptop { 
      display: none;
    }
  }

  .imageCardContainer {
    @include flex(flex-start, space-between);
    @include z-index-components;
    max-width: 100%;

    @include wideDesktop {
      @include flex(flex-start, space-around);
    }

    @include laptop {
      @include flex-direction(column);
      @include flex(center, space-between);
      height: 1120px;
    }
  }
  }