@import 'sources/styles/mixins.scss';

.designBlock {
  background-color: var(--page-background);
  z-index: 10;
  margin: 120px 0 120px 0;
  @include container-paddings;
  position: relative;
  .title {
    @include title-style;
    margin-bottom: 60px;

    @include desktop {
      display: block;
      max-width: 80%;
    }
  }

  .imageCardContainer {
    @include flex(flex-start, space-between);

    max-width: 100%;

    .card {
/*       flex: 1; */
      @include width-height(560px, 550px);
      background: #151515;
      border-radius: 15px;
      position: relative;

      &:first-child { 
        margin-right: 10px;
        &::after {
          content: '';
          @include position-absolute(0, 0, 0, 0);
          z-index: 1;
          background: linear-gradient(0deg, #0E0E0E 25.18%, rgba(14, 14, 14, 0) 40.52%);
          border-radius: 15px;
        }
      }

/*       @include _620 {
        max-height: 270px;
      } */

      img {
/*         position: relative;
        z-index: 11; */
        object-fit: cover;
        border-radius: 15px;
/*         @include width-height(100%, 100%); */
      }

      .description {
        z-index: 10;
        @include position-absolute($bottom: 40px, $left: 60px);
        color: #f1f1f1;

       /*  @include _620 {
          position: relative;
          left: 0;
          bottom: 0;
          margin-top: 20px;
        } */

        .title {
          color: #f1f1f1;
          font-weight: 600;
          font-size: 20px;
          margin: 0 0 20px 0;

    /*       @include _620 {
            font-size: 16px;
            color: var(--text-color);
          } */
        }

        .text {
/*           @include defaultText;
          font-weight: normal;
          max-width: 430px;

          @include _620 {
            font-size: 12px;
            color: var(--text-color);
          } */
        }
      }
    }


    /*     @include _769 {
      display: none;
    } */
  }
}

.list {
  @include flex();

  .listItem {
    flex-grow: 1;
    width: 33%;
    cursor: pointer;

    &:hover {
      .line {
        background: #ff4c0d;
      }

      .line,
      .text,
      .columnTitle {
        opacity: 1;
      }
    }

    /*  @include _769 {
      width: 100%;
      margin-bottom: 30px;
    }
   */
    .itemTitle {
      font-weight: 600;
      font-size: 20px;
      opacity: 0.4;
      transition: all 0.5s ease;

      /*  @include _1300 {
        max-width: 240px;
      }
  
      @include _769 {
        max-width: 100%;
      }
  
      @include _620 {
        font-size: 16px;
      } */
    }

    .line {
      height: 3px;
      width: 100%;
      background: var(--text-color);
      opacity: 0.4;
      transition: all 0.5s ease;
    }

    .text {
      /*  @include defaultText; */
      max-width: 360px;
      opacity: 0.4;
      transition: all 0.5s ease;
      /* 
      @include _769 {
        max-width: 470px;
      }
  
      @include _620 {
        font-size: 12px;
      } */
    }

    .columnImg {
      display: none;

      /*  @include _769 {
        display: block;
        width: 100%;
      } */
    }
  }

  .column.active {
    .line {
      background: #ff4c0d;
    }

    .line,
    .text,
    .columnTitle {
      opacity: 1;
    }
  }
}
