@import 'sources/styles/mixins.scss';

.nextArrow {
    cursor: pointer;
    @include position-absolute($bottom: -75px, $right: 177px);
    @include laptop { 
        @include position-absolute($bottom: -75px, $right: 80px);
    }
    @include tablets { 
        @include position-absolute($bottom: -75px, $right: 40px);
    }

    border-radius: 50%;
    background-color: #FF4C0D;
    @include width-height(54px, 54px);
    transition: all 0.5s ease;
    @include flex(center, center);

    &:hover {
        background-color: #F1F1F1;
        .arrow {
            filter: invert(1);
            transition: all 0.7s ease;
        }
    }

}