@import 'sources/styles/mixins.scss';


.container {
    height: 525px;
    margin-bottom: 60px;
    position: relative;
    z-index: 10;

    .gradient {
        @include position-absolute($top: 600px, $right: 0);
        @include z-index-background;

        @include laptop {
            @include position-absolute($top: 370px, $right: -300px);
            height: 1000px;

        }
    }

    .thread {
        display: none;

        @include mini-tablets {
            display: block;
            @include position-absolute($bottom: -600px, $right: 0px);
        }

    }
}

.slider {
    z-index: 10;
}

.bannerContainer {
    height: fit-content;
    overflow: hidden;

    @include phones {
        background-blend-mode: soft-light;
        z-index: 50;
        height: 525px;
        opacity: 1;
        background-color: #151515;
        position: relative;

        &:after {
            content: "";
            display: block;
            @include width-height(100%, 100%);
            @include position-absolute($top: 0, $left: 0);
            background: linear-gradient(180deg, rgba(232, 181, 119, 0) 20%, rgba(232, 181, 119, 0.7) 50%, rgba(21, 21, 21, 1) 76%);
            z-index: 10;
        }
    }

}
