@import 'sources/styles/mixins.scss';

.reviews {
  overflow-x: hidden;
  margin-bottom: 120px;
  @include container-paddings;
  padding-right: 0;
  @include z-index-components;

  .title {
    @include title-style($colorR: #ff4c0d);
    margin: 0 0 40px 0;
  }

  .controls {
    @include flex(flex-start, space-between);

    button {
      max-width: 190px;
    }
  }
}