@import 'sources/styles/mixins.scss';

.slider {

  @include flex(baseline, space-between);
  margin-bottom: 24px;
  position: relative;
  max-width: 100%;
  @include z-index-components;

  .slide {
    background: var(--cardColor);
    border-radius: 15px;
    padding: 28px;
    max-width: 460px;
    box-sizing: border-box;
    min-height: 290px;
    margin-right: 40px;

    .name {
      @include text-style(20px, 600, $color: var(--textColor));
      margin: 0 0 14px 0;

      &::after {
        margin-top: 15px;
        content: '';
        display: block;
        @include width-height(100px, 3px);
        background: var(--introText);
      }

    }

    .text {
      @include text-style(14px, 400, 21px, $color: var(--textColor));
    }

    .innerText {
      margin: 0;
      @include text-style(14px, 400, 21px, $color: var(--textColor));
    }
  }
}