@import 'sources/styles/mixins.scss';

.description {

  position: relative;
  padding: 250px 0 120px 0;
  @include container-paddings;

  @include laptop {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  @include mini-tablets {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    @include z-index-components;
    position: relative;
    @include title-style($colorR: var(--textColor));
    margin-bottom: 60px;
    width: 80%;

    @include laptop {
      width: 780px;
      margin-bottom: 40px;
 }

    @include tablets {
      width: 580px;
      margin-bottom: 40px;
    }

    @include mini-tablets {
      margin-bottom: 30px;
      width: 460px;
    }

    @include phones {
      width: 300px;
    }
  }

  .list {
    @include flex;

    margin-bottom: 30px;
    position: relative;
    @include z-index-components;
    padding: 0;

    @include laptop {
      @include flex-direction(column);
    }


    .listItem {
      list-style: none;
      width: 360px;
      margin-right: 40px;
      cursor: pointer;

      @include wideDesktop {
        width: 33%;
      }

      @include laptop {
        width: 100%;
      }

      .img {
        display: none;
        margin-bottom: 40px;

        @include laptop {
          display: block;
          width: 100%;
        }

      }

      &:hover {
        .line {
          background: #ff4c0d;
        }

        .text,
        .itemTitle {
          opacity: 1;
        }

        .itemTitle {
          &::after {
            background: #ff4c0d;
            opacity: 1;
          }

          &::before {
            opacity: 0.15;
          }
        }

      }


      &:last-child {
        .itemTitle {
          &::before {
            display: none;
          }
        }

        .img {
          margin-bottom: 0px;
        }
      }

      .itemTitle {
        @include text-style(20px, 600, $color: var(--textColor));
        opacity: 0.4;
        transition: all 0.5s ease;
        margin-bottom: 15px;
        position: relative;

        @include mini-tablets { 
          @include text-style(16px, 600, 20px, $color:  #ff4c0d);
          margin-bottom: 10px;
        }


        @include laptop {
          opacity: 1;
          color: #ff4c0d;
        }

        &::after {
          content: '';
          display: block;
          @include width-height(100%, 3px);
          background: var(--textColor);
          opacity: 0.4;
          transition: all 0.5s ease;
          margin: 15px 0 15px 0;

          @include laptop {
            opacity: 1;
            background: #ff4c0d;
            width: 200px;
          }

          @include tablets {
            width: 150px;
          }
          @include mini-tablets { 
            margin: 10px 0 10px 0;
          }

          @include phones {
            width: 100px;
          }
        }

        &::before {
          @include position-absolute($right:-40px, $bottom: -15px);
          content: '';
          display: block;
          @include width-height(40px, 3px);
          background: var(--textColor);
          opacity: 0.4;
          transition: all 0.5s ease;
          margin: 15px 0 15px 0;

          @include laptop {
            display: none;
          }
        }
      }

      .text {
        width: 100%;
        opacity: 0.4;
        transition: all 0.5s ease;
        @include text-style(14px, normal, 150%, $color: var(--textColor));
        @include laptop {
          opacity: 1;
          @include text-style(14px, normal, 160%, $color: var(--textColor));
        }

        @include mini-tablets {
          @include text-style(12px, normal, 170%, $color: var(--textColor));
        }
      }
    }
  }

  .thread {
    @include position-absolute($right:0, $bottom: 0);
    @include z-index-background;

    @include laptop {
      @include position-absolute($right:0, $bottom: 0);
    }
    @include mini-tablets {
      @include position-absolute($right: -90px, $bottom: 0px);
    }
  }

  .gradient {
    @include position-absolute($bottom: 0, $left: 0);
    @include z-index-background;
    opacity: 0.8;

    @include laptop {
      @include position-absolute($top: -355px, $left: -240px);
      opacity: 1;
      height: 1500px;
    }

    @include mini-tablets {
      @include position-absolute($top: -355px, $left: -127px);
      height: 1300px;
    }
  }

  .gradient2 {
    @include position-absolute($bottom: 0, $right: 0);
    @include z-index-background;
    opacity: 0.8;

    @include laptop {
      @include position-absolute($bottom: 350px, $right: 0px);
      opacity: 1;
      height: 1000px;
    }
  }

  .gradient3 {
    @include position-absolute($bottom: 0, $right: 0);
    @include z-index-background;
    opacity: 0.8;
  }

  .imagesContainer {
    @include flex(flex-start, space-between);
    max-width: 100%;

    @include wideDesktop {
      @include flex(flex-start, center);
    }

    @include laptop {
      display: none;
    }
  }

  .bigImg {
    @include wideDesktop {
      margin-right: 40px;
    }

    z-index: 1;
    position: relative;
  }
}
