//Fonts
$font1: 'Segoe UI';
$defaultFont: Verdana, sans-serif;

// Sizes
$defaultFontSize: 14px;

// Colors
$brandColor: #12986F;
$fontGray: #A6A6A6;
$background1: #FFFFFF;
$background2: #12986F0D;


$maxWidthContainer: 1160px;
