@import 'sources/styles/mixins.scss';

.switcherContainer {
  @include width-height(250px, 40px);
  @include flex(center, space-around);
  border: 3px solid #f1f1f1;
  height: 54px;
  border-radius: 65px;
  transition: all 0.5s ease;
  position: relative;

  @include phones {
    @include width-height(220px, 54px);
  }

  &::after {
    content: "";
    z-index: 0;
    padding: 15px 35px;
    border-radius: 65px;
    @include width-height(50%, $height: 52px);

    @include phones {
      @include width-height(50%, 52px);
    }

    @include position-absolute($top: -2px, $left: -1px);
    background:#F1F1F1;
    transition-duration: 400ms;
  }

  .light,
  .dark {
    z-index: 1;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;
    color: #000;
    position: relative;
    transition-duration: 400ms;
  }

  .light {
    color: rgb(0, 0, 0);
  }

  .dark {
    color: rgb(255, 255, 255);
  }

}

.switchOn {
  border: 3px solid #151515;

  &::after {
    background: #151515;
    @include position-absolute($top: -2px, $left: 123px);

    @include phones {
      @include position-absolute($top: -2px, $left: 108px);
    }
  }
}
