@import 'sources/styles/mixins.scss';

.intro {
  @include container-paddings;
  margin-top: 200px;

  .bikeImg {
    @include position-absolute($top: 0, $right: 0);

    @include wideDesktop {
      @include flex(flex-start, space-around);
    }
  }

  .introContainer {
    position: relative;
    @include z-index-components;
    max-width: 1100px;

    .introTitle {
      @include width-height(1020px, fit-content);
      @include text-style(80px, 600, 100%, $color: var(--introTitle));
    }

    .introText {
      @include width-height(480px, fit-content);
      @include text-style(30px, 600, 120%, $color: var(--introText));
      margin-bottom: 60px;
    }
  }
}