@import 'sources/styles/mixins.scss';

.intro {
  @include container-paddings;
  margin-top: 200px;

  .bikeImg {
    @include position-absolute($top: 0, $left: 18%);
  }

  .introContainer {
    position: relative;
    @include z-index-components;

    .introTitle {
      @include width-height(100%, fit-content);
      @include text-style(80px, 600, 100%, $color: #f1f1f1);
      opacity: 1;

      @include desktop {
        max-width: 1200px;
      }
    }

    .introText {
      @include width-height(41%, fit-content);
      @include text-style(30px, 600, 120%, $color: #FF4C0D);
      margin-bottom: 60px;
    }
  }
}