@import 'sources/styles/mixins.scss';

.questionsList {
  padding-left: 0;
  list-style: none;
  @include flex(flex-start, space-between);
  @include flex-direction(column);
  margin: 0;
  @include z-index-components;

  li {
    margin-bottom: 40px;

    .question {
      @include text-style(20px, 600, $color: var(--textColor));
      margin: 0 0 12px 0;

      &::after {
        margin-top: 15px;
        content: '';
        display: block;
        width: 100px;
        height: 3px;
        background: #ff4c0d;
      }
    }

    .answer {
      @include text-style(14px, normal, 21px, $color: var(--textColor));
      margin-top: 15px;
    }
  }
}