@import 'sources/styles/mixins.scss';

.header {
  @include flex(center, space-between);
  @include width-height(100%, 130px);
  @include container-paddings;

  .headerBlock {
    @include flex(center);
  }

  .buttonContainer { 
    @include z-index-components;
    @include laptop { 
      display: none;
    }
  }
}

.gradient {
  z-index: 0;
  @include position-absolute($top: 0, $right: 0);
  @include z-index-background;
  opacity: 1;

  @include laptop { 
    height: calc(500px + (800 - 500) * ((100vw - 640px) / (960 - 640)));
  }
}

.gradient2 {
  z-index: 1;
  @include position-absolute($top: -150px, $right: 0);
  @include z-index-background;
  opacity: 0.9;
  @include laptop { 
    height: calc(500px + (800 - 500) * ((100vw - 640px) / (960 - 640)));
  }
}