@import 'sources/styles/mixins.scss';

.navbar {
  @include laptop {
    display: none;
  }

  @include z-index-components;

  .item {
    @include text-style(14px, 400, 21px, $color: var(--textColor), $letter-spacing: -0.01em);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}