@import 'sources/styles/mixins.scss';

.description {
  background-color: var(--page-background);
  z-index: 10;
  margin: 250px 0 120px 0;
  @include container-paddings;

  .title {
    @include title-style($colorR: #FFFFFF);
    margin-bottom: 60px;
    color: var(--text-color);

    @include desktop {
      display: block;
      max-width: 80%;
    }

  }

  .imagesContainer {
    @include flex(flex-start, space-between);

    max-width: 100%;

    /*     @include _769 {
      display: none;
    } */

    .bigImg {


      /*       @include _769 {
        max-width: 100%;
      } */
    }

    .smallImg {
      /*      height: 300px; */
      // margin-left: 40px;
      /*  @include _769 {
        max-width: 100%;
        margin-left: 0;
      } */
    }
  }
}

.list {
  @include flex();

  .listItem {
    flex-grow: 1;
    width: 33%;
    cursor: pointer;

    &:hover {
      .line {
        background: #ff4c0d;
      }

      .line,
      .text,
      .columnTitle {
        opacity: 1;
      }
    }

    /*  @include _769 {
      width: 100%;
      margin-bottom: 30px;
    }
   */
    .itemTitle {
      font-weight: 600;
      font-size: 20px;
      opacity: 0.4;
      transition: all 0.5s ease;

      /*  @include _1300 {
        max-width: 240px;
      }
  
      @include _769 {
        max-width: 100%;
      }
  
      @include _620 {
        font-size: 16px;
      } */
    }

    .line {
      height: 3px;
      width: 100%;
      background: var(--text-color);
      opacity: 0.4;
      transition: all 0.5s ease;
    }

    .text {
      /*  @include defaultText; */
      max-width: 360px;
      opacity: 0.4;
      transition: all 0.5s ease;
      /* 
      @include _769 {
        max-width: 470px;
      }
  
      @include _620 {
        font-size: 12px;
      } */
    }

    .columnImg {
      display: none;

      /*  @include _769 {
        display: block;
        width: 100%;
      } */
    }
  }

  .column.active {
    .line {
      background: #ff4c0d;
    }

    .line,
    .text,
    .columnTitle {
      opacity: 1;
    }
  }
}
