@import 'sources/styles/mixins.scss';

.banner {
  @include width-height(100%, 600px);
  position: relative;
  @include z-index-components;
  margin-bottom: 120px;

  .bottomLine {
    @include position-absolute($right:0, $bottom: -151px);
    @include z-index-background;
  }

  .gradient {
    @include position-absolute($top: 600px, $right: 0);
    @include z-index-background;
  }

  .background {
    object-fit: cover;
    @include width-height(100%, 100%);
  }

  .content {
    @include position-absolute($top: 120px, $left: 140px);
    width: 388px;
    @include flex;
    @include flex-direction(column);
    overflow: hidden;

    .title {
      @include title-style($colorR: #f1f1f1);
      margin: 110px 0 40px 0;
    }

    .text {
      @include text-style(14px, 400, 21px, $color: #f1f1f1, $letter-spacing: -0.01em);
      margin: 0;
    }
  }
}

.orange {
  color: #FF4C0D !important;
}

.black {
  color: #151515 !important;
}
