@import 'sources/styles/mixins.scss';

.banner {
  @include width-height(100%, 600px);
  position: relative;
  margin-bottom: 120px;

  @include laptop {
    height: 530px;
    margin-bottom: 80px;
  }

  @include tablets {
    height: 420px;
  }

  @include mini-tablets {
    margin-bottom: 80px;
  }

  .bottomLine {
    @include position-absolute($right:0, $bottom: -151px);
    @include z-index-background;
    @include laptop { 
      display: none;
    }
  }

 .gradient {
    @include position-absolute($top: 600px, $right: 0);
    @include z-index-background;

    @include laptop {
      @include position-absolute($top: 370px, $right: -100px);
      height: 700px;
    }
    
   /*  @include mini-tablets { 
      display: none;
    } */
  }
  .background {
    position: relative;
    @include z-index-components;
    object-position: 80%;
    object-fit: cover;
    @include width-height(100%, 100%);

    @include phones {
      object-position: center;
    }
  }

  .content {
    @include position-absolute($top: 120px, $left: 140px);
    width: 388px;
    @include flex;
    @include flex-direction(column);
    overflow: hidden;
    z-index: 15;

    @include laptop {
      height: 530px;
      @include position-absolute($top: 40px, $left: 40px);

    }

    @include tablets {
      height: 420px;
    }

    @include mini-tablets { 
      @include position-absolute($top: 20px, $left: 20px);
    }

    .title {
      @include title-style($colorR: #f1f1f1);
      margin: 110px 0 40px 0;

      @include laptop {
        margin: 240px 0 20px 0;
      }

      @include tablets {
        margin: 140px 0 20px 0;
      }
      @include mini-tablets {
        @include text-style(25px, 600, 30px);
        margin: 225px 0 10px 0;
      }
      color: #f1f1f1 !important;
    }

    .text {
      @include text-style(14px, 400, 21px, $color: #f1f1f1, $letter-spacing: -0.01em);
      margin: 0;
      @include mini-tablets {
        width: 350px;
        @include text-style(12px, 400, 21px, $color: #f1f1f1, $letter-spacing: -0.01em);
      }
      @include phones {
        width: 300px;
      }
    }
  }
}

.orange {
  color: #FF4C0D !important;
}

.black {
  color: #151515 !important;
}
