@import 'sources/styles/mixins.scss';

.card {

  @include width-height(560px, 550px);

  @include mini-tablets {
    @include width-height(100%, 500px);
    height: fit-content;
  }

  position: relative;

  @include mini-tablets {
    @include flex-direction(column);
    @include flex(center, flex-start);
  }

  .imageWrapper {
    background: #151515;
    border-radius: 15px;
    position: relative;
    @include width-height(100%, 100%);
    @include mini-tablets {
      @include width-height(100%, 450px);
    }

    @include phones {
      @include width-height(100%, 300px);
    }

    &:first-child {
      margin-right: 10px;

      &::after {
        content: '';
        @include position-absolute(0, 0, 0, 0);
        z-index: 1;
        background: linear-gradient(0deg, #0E0E0E 25.18%, rgba(14, 14, 14, 0) 40.52%);
        border-radius: 15px;

        @include mini-tablets {
          background: linear-gradient(0deg, #0E0E0E 10.18%, rgba(14, 14, 14, 0) 25.52%);
        }
      }
    }

    .image {
      position: absolute;
      object-fit: cover;
      border-radius: 15px;

      @include mini-tablets {
        @include width-height(100%, 100%);
      }

      &:first-child {
        margin-right: 10px;

        &::after {
          content: '';
          @include position-absolute(0, 0, 0, 0);
          z-index: 1;
          background: linear-gradient(180deg, #0E0E0E 25.18%, rgba(14, 14, 14, 0) 40.52%);
          border-radius: 15px;

          @include mini-tablets {
            background: linear-gradient(0deg, #0E0E0E 30.18%, rgba(14, 14, 14, 0) 45.52%);
          }
        }
      }
    }
  }

  .description {
    @include z-index-components;
    @include position-absolute($bottom: 40px, $left: 60px);
    
    @include mini-tablets {
      position: static;
      margin-bottom: 20px;
    }

    .title {
      @include text-style(20px, 600, $color: #F1F1F1);
      margin: 0 0 20px 0;

      @include mini-tablets { 
        margin: 15px 0 15px 0;
        @include text-style(20px, 600, $color: var(--textColor));
      }
    }

    .text {
      width: 420px;

      @include mini-tablets {
        @include text-style(12px, 600, 20px, $color: var(--textColor));
        width: 100%;
      }
    }
  }
}
