@import 'sources/styles/mixins.scss';

.card {

  @include width-height(560px, 550px);
  background: #151515;
  border-radius: 15px;
  position: relative;

  &:first-child {
    margin-right: 10px;

    &::after {
      content: '';
      @include position-absolute(0, 0, 0, 0);
      z-index: 1;
      background: linear-gradient(0deg, #0E0E0E 25.18%, rgba(14, 14, 14, 0) 40.52%);
      border-radius: 15px;
    }
  }

  img {
    object-fit: cover;
    border-radius: 15px;
  }

  .description {
    @include z-index-components;
    @include position-absolute($bottom: 40px, $left: 60px);

    .title {
      @include text-style(20px, 600, $color: #F1F1F1);
      margin: 0 0 20px 0;
    }
  }
}
